/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variables */
:root {
	--header-height: 5rem;
	--grid-size: 500px;
	--cell-border: 2px solid black;

	--bg-green: #82fed5;
	--bg-cell-selected: #6495ed;
}

/* Media query */

@media screen and (max-width: 550px) {
	:root {
		--grid-size: 400px;
	}
}

@media screen and (max-width: 450px) {
	:root {
		--grid-size: 300px;
	}
}

/* Layout */

body {
	min-height: 100vh;
}

header {
	height: var(--header-height);
}

main {
	background-color: var(--bg-green);
	flex-grow: 1;
	overflow-x: auto;
	position: relative;
}

/* Header */

.logo {
	width: 50px;
}

select {
	width: 120px;
}

/* Cells */

.cell {
	cursor: pointer;
	border-bottom: var(--cell-border);
	border-right: var(--cell-border);
}

.cell-selected {
	background-color: var(--bg-cell-selected);
	color: white;
}